<div id="footer">
 <p>&copy; Silence is the best response to a fool! But, use this usefully! </p>
 <!--Credits below must be kept under CC-NC 3.0 License-->
 <p><a href="http://www.mlpdesign.net">HTML and CSS</a> by MLPdesign.net</p>
</div>