<nav>
 <input type="checkbox" id="show-menu" role="button">
 <label for="show-menu" class="open"><span class="fa fa-bars"></span></label>
 <label for="show-menu" class="close"><span class="fa fa-times"></label>
 <ul id="menu">
  <li><a href="/buylog">BuyedLog</a></li>
  <li><a href="/buylog/itemtypes">ItemTypes</a></li>
  <li><a href="/buylog/add">AddNewItem</a></li>
  <li><a href="/buylog/forbiddenitems">AddForbiddenItem</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline"><a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout immediately</a>
  </form></li>
 </ul>
</nav>