<!DOCTYPE html>
<html lang="hu">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BuyLog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="open source html and css template">
<meta name="author" content="mlp design">
<meta name="robots" content="index, follow">

<div th:insert="fragments/style" id="this-will-be-retained">This content will be gone Fragments</div>


</head>
<body>
<!-- Menu Items -->


<div th:insert="fragments/navbar" id="this-will-be-retained">This content will be gone Fragments</div>


<!-- // -->
<!-- Banner -->
<div id="banner">
 <div id="header">
  <h1>BuyLog - Add</h1>
  <p class="sub">Buylog for one of the most perfect company</p>
 </div>
</div>
<!-- // -->
<div id="content">
 <!-- Page Items -->
 
 
<div class="navbar-text navbar-right">         

  
</div>
  

<div class="form-group blu-margin">
 <form name='f'  th:action="@{/buylog/add}" method='POST'>
 <div>
    <label>Items: 
    <select th:field="*{ItemTypeSelected.it_id}" class="form-control">
	    <option th:each="itType : ${itTypes}" th:value="${itType.it_id}" th:text="${itType.itemname}"></option>
	    </label>
    </select>     	
    	<a href="/buylog/additemtype">AddItemType</a>	
	</div>
	<div>
		<label>Quantity: <input type="number" name="quantity" th:field="*{BuyedItemNew.quantity}" id="quantity" min="1" max="1000" required /></label>
	</div>
    <div>
    
        <label>Bdate: <input type="date" name="bdate" th:field="*{BuyedItemNew.bdate}" id="bdate" required /> </label>
    </div>
    <div>
        <label>TargetName: <input type="text" th:field="*{BuyedItemNew.targetname}" id="targetname" /> </label>
    </div>
    <div>
        <label>KN: <input type="number" th:field="*{BuyedItemNew.know}" min="0" max="1" value="1" id="kn" /> </label>
    </div>
    <div>
        <label>Descriptiondata: <input type="text" th:field="*{BuyedItemNew.descriptiondata}" placeholder="Optional field" id="descriptiondata"/></label>
    </div>
    	<input name="submit" type="submit" value="Save" /></td>
 </form>
</div>



<!-- Footer Items -->

<div th:insert="fragments/footer" id="this-will-be-retained">This content will be gone Fragments from navbar</div>

<!-- // -->
</body>
</html>