<!DOCTYPE html>
<html lang="hu">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BuyLog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="open source html and css template">
<meta name="author" content="mlp design">
<meta name="robots" content="index, follow">

<div th:insert="fragments/style" id="this-will-be-retained">This content will be gone Fragments from navbar</div>


</head>
<body>
<!-- Menu Items -->


<div th:insert="fragments/navbar" id="this-will-be-retained">This content will be gone Fragments from navbar</div>


<!-- // -->
<!-- Banner -->
<div id="banner">
 <div id="header">
  <h1>BuyLog</h1>
  <p class="sub">Buylog for one of the most perfect company</p>
 </div>
</div>
<!-- // -->
<div id="content">
 <!-- Page Items -->
 
 
<div class="navbar-text navbar-right">         


		 
 <table>
	<thead>
	  <tr>
	    <th>Date</th>
	    <th>Quantity</th>
	    <th>ItemName</th>
	    <th>TargetName</th>
	    <th>KN</th>
	    <th>Description</th>
	    <th>Actions</th>
	  </tr>
	</thead>
	<tbody>
		<tr th:each="it : ${Items}">
	    	<td th:text="${#dates.format(it.bdate, 'yyyy.MM.dd')}"></td>
	    	<td th:text="${it.quantity}"></td>
	    	<td th:text="${it.itemtypes.itemname}"></td>
	    	<td th:text="${it.targetname}"></td>
	    	<td th:text="${it.know}"></td>
	    	<td th:text="${it.descriptiondata}"></td>
	    	<td><a th:href="@{/buylog/buylogformupdate/{id}(id=${it.bi_id})}" class="btn btn-primary">Update</a></td>
	  	</tr>
</table>  

<h1>Attention! - Forbidden Items List!</h1>

		 
 <table>
	<thead>
	  <tr>
	    <th>[fi_id]</th>
	    <th>[itemname]</th>
	    <th>[forbiddenData]</th>
	    <th>[startdate]</th>
	    <th>[enddate]</th>
	    <th>[descriptiondata]</th>
	    <th>[recdate]</th>
	    <th>[Actions]</th>
	  </tr>
	</thead>
	<tbody>
		<tr th:each="ftype : ${forbiddenitems}">
			<td th:text="${ftype.fi_id}"></td>
			<td th:text="${ftype.itemtypesid.itemname}"></td>
			<td th:text="${ftype.forbiddenData}"></td>
			<td th:text="${#dates.format(ftype.startdate, 'yyyy.MM.dd')}"></td>
			<td th:text="${#dates.format(ftype.enddate, 'yyyy.MM.dd')}"></td>
			<td th:text="${ftype.descriptiondata}"></td>
	    	<td th:text="${#dates.format(ftype.recdate, 'yyyy.MM.dd')}"></td>
	    	<td><a th:href="@{/buylog/forbiddenitemsupdate/{id}(id=${ftype.fi_id})}" class="btn btn-primary">Update</a></td>
	  	</tr>
</table>
</div>
<div>
	 <a href="https://zenquotes.io/"><i><p th:text="${TodayQuote}"></a>
</div>


<!-- Footer Items -->
<div th:insert="fragments/footer" id="this-will-be-retained">This content will be gone Fragments from navbar</div>
<!-- // -->
</body>
</html>