<!DOCTYPE html>
<html lang="hu">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BuyLog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="open source html and css template">
<meta name="author" content="mlp design">
<meta name="robots" content="index, follow">


<div th:insert="fragments/style" id="this-will-be-retained">This content will be gone Fragments from navbar</div>

</head>
<body>
<!-- Menu Items -->


<div th:insert="fragments/navbar" id="this-will-be-retained">This content will be gone Fragments from navbar</div>

<!-- // -->
<!-- Banner -->
<div id="banner">
 <div id="header">
  <h1>BuyLog - Forbidden Items Update!</h1>
  <p class="sub">Buylog for one of the most perfect company</p>
 </div>
</div>
<!-- // -->
<div id="content">
 <!-- Page Items -->
<div class="container">



<div class="form-group blu-margin">
 <form name='f' th:action="@{/buylog/forbiddenitemsupdate}" method='POST'>
 	<div>
        <label>fi_id: <input type="text" th:field="*{fitem.fi_id}" id="targetname"/> (Nem lehet disabled! Szerepelnie kell a itt a formban, hogy POST-ként visszajusson, mert akkor nem kerül a modellbe a Controllerhez!)</label>
    </div>
     <div>
        <label>forbiddenData: <input type="text" th:field="*{fitem.forbiddenData}" id="forbiddenData" required/> </label>
    </div>
    <div>
        <label>Descriptiondata: <input type="text" th:field="*{fitem.descriptiondata}" placeholder="Optional field" id="descriptiondata"/></label>
    </div>
    <div>
     <label>StartDate: <input type="date" name="startdate" th:field="*{fitem.startdate}" id="startdate" required /> </label>
    </div>
	<div>
    <label>EndDate: <input type="date" autocomplete="on" name="bdate" th:field="*{fitem.enddate}" placeholder="Optional field" id="enddate" /> </label>
    </div>
	<label>Items: 
    <select th:field="*{ItemTypeSelected.it_id}" class="form-control">
	    <option th:each="itType : ${itTypes}" th:value="${itType.it_id}" th:text="${itType.itemname}"></option>
	    </label>
    </select>     
    
    	<input name="submit" type="submit" value="Update" /></td>
 </form>
</div>


<!-- Footer Items -->
<div th:insert="fragments/footer" id="this-will-be-retained">This content will be gone Fragments from navbar</div>
<!-- // -->
</body>
</html>