<!DOCTYPE html>
<html lang="hu">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BuyLog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="open source html and css template">
<meta name="author" content="mlp design">
<meta name="robots" content="index, follow">


<div th:insert="fragments/style" id="this-will-be-retained">This content will be gone Fragments from navbar</div>

</head>
<body>
<!-- Menu Items -->


<div th:insert="fragments/navbar" id="this-will-be-retained">This content will be gone Fragments from navbar</div>

<!-- // -->
<!-- Banner -->
<div id="banner">
 <div id="header">
  <h1>BuyLog - ItemTypes</h1>
  <p class="sub">Buylog for one of the most perfect company</p>
 </div>
</div>
<!-- // -->
<div id="content">
 <!-- Page Items -->
<div class="container">


   <table>
	<thead>
	  <tr>
	    <th>[it_id]</th>
	    <th>[itemname]</th>
	    <th>[descriptiondata]</th>
	    <th>[recdate]</th>
	  </tr>
	</thead>
	<tbody>
		<tr th:each="itype : ${ItemTypes}">
			<td th:text="${itype.it_id}"></td>
			<td th:text="${itype.itemname}"></td>
			<td th:text="${itype.descriptiondata}"></td>
	    	<td th:text="${#dates.format(itype.recdate, 'yyyy.MM.dd')}"></td>
	  	</tr>
</table>


<!-- Footer Items -->
<div th:insert="fragments/footer" id="this-will-be-retained">This content will be gone Fragments from navbar</div>
<!-- // -->
</body>
</html>